<div style="

width:100%;
 min-height:100px;
 border-bottom: 1px solid #cccccc;
  padding-top:5px;"
>
<h5><%= data.poster%> | <%= data.postTitle%></h5>
<p><%- data.postText%></p><br><center><img src="<%= data.thumbnail %>" id="<%=data.post_id%>" data-user="<%= data.userid%>" style="border-radius: 4px;"></center><br><br>
</div>

</div>


