
<% if(data.title){ %>
<h2><%= data.title%></h2>
<img src="<%= data.image%>">
<%- data.content%>
<p><%= data.text%></p>

<% } else { %>

<h2><%= data.postTitle%></h2>
<img src="<%= data.postImage%>">
<img src="<%= data.thumbnail%>">
<%- data.postContent%>
<p><%= data.postText%></p>

<% } %>
